{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <style>
   #googlebutton #google:hover{
        color: white!important;
    }
    #linkedinbutton{
        border-color: #0e76a8!important;
        color: #0e76a8!important;
    }
    #linkedin:hover{
        color: white!important;
    }
    .social-login-buttons #linkedinbutton:hover{background-color:#0e76a8;color: white!important;}
    input[name="email"]{
        border: 1px solid #e0e0e0;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
    }
    </style>
		<!-- Titlebar
================================================== -->
		<div id="titlebar" class="gradient">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<h2>Forgot password</h2>

						<!-- Breadcrumbs -->
						<nav id="breadcrumbs" class="dark">
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="{% url 'loginpage' %}">Log In</a></li>
                                <li>Forgot Password</li>
							</ul>
						</nav>

					</div>
				</div>
			</div>
		</div>


		<!-- Page Content
================================================== -->
		<div class="container">
			<div class="row">
				<div class="col-xl-5 offset-xl-3">
					<div class="login-register-page">
						<!-- Welcome Text -->
						<div class="welcome-text">
                            <p style="color: red">{{ message }}</p>
							<h3>Just enter your email to reset your password</h3>
						</div>

						<!-- Form -->
						<form method="post" id="login-form">
                             {% csrf_token %}

							<div class="with-border">
                                {{ form.as_p }}
                            </div>
                            <!-- Button -->
						<button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit"
							>Submit <i class="icon-material-outline-arrow-right-alt"></i></button>
						</form>



					</div>

				</div>
			</div>
		</div>


		<!-- Spacer -->
		<div class="margin-top-70"></div>
		<!-- Spacer / End-->



		<!-- Footer / End -->

{% endblock %}