{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <style>
   #googlebutton #google:hover{
        color: white!important;
    }
    #linkedinbutton{
        border-color: #0e76a8!important;
        color: #0e76a8!important;
    }
    #linkedin:hover{
        color: white!important;
    }
    .social-login-buttons #linkedinbutton:hover{background-color:#0e76a8;color: white!important;}
    </style>
		<!-- Titlebar
================================================== -->
		<div id="titlebar" class="gradient">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<h2>Forgot password</h2>

						<!-- Breadcrumbs -->
						<nav id="breadcrumbs" class="dark">
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="{% url 'loginpage' %}">Log In</a></li>
                                <li>Forgot Password</li>
							</ul>
						</nav>

					</div>
				</div>
			</div>
		</div>


		<!-- Page Content
================================================== -->
		<div class="container">
			<div class="row">
				<div class="">
					<div class="login-register-page">

                          <p>
                            We've emailed you instructions for setting your password, if an account exists with the email you entered.
                            You should receive them shortly.
                          </p>
                          <p>
                            If you don't receive an email, please make sure you've entered the address you registered with,
                            and check your spam folder.
                          </p>

					</div>

				</div>
			</div>
		</div>


		<!-- Spacer -->
		<div class="margin-top-70"></div>
		<!-- Spacer / End-->



		<!-- Footer / End -->

{% endblock %}

