{% extends 'base/base.html' %}
{% load static %}
{% block content %}
	<!-- Wrapper -->
	<div id="wrap">


		<!-- Titlebar
================================================== -->
		<div id="titlebar" class="gradient">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<h2>500 Internal Server Error</h2>

						<!-- Breadcrumbs -->
						<nav id="breadcrumbs" class="dark">
							<ul>
								<li><a href="#">Home</a></li>
								<li>500 Internal Server Error</li>
							</ul>
						</nav>

					</div>
				</div>
			</div>
		</div>

		<!-- Page Content
================================================== -->
		<!-- Container -->
		<div class="container">

			<div class="row">
				<div class="col-xl-12">

					<section id="not-found" class="center margin-top-50 margin-bottom-25">
						<h2>500 <i class="icon-line-awesome-question-circle"></i></h2>
						<p>Server Error Occurred. Please try after sometime</p>
					</section>



				</div>
			</div>

		</div>
		<!-- Container / End -->


		<!-- Spacer -->
		<div class="margin-top-70"></div>
		<!-- Spacer / End-->


	</div>
	<!-- Wrapper / End -->
{% endblock %}